.user-card{
    display: flex;
    align-items: center;
}

.user-card > * {
    margin: 0.5rem;
}

.user-details{
    flex-grow: 1;
}

.avatar-icon {
    height: 50px;
    font-size: 1rem;
}

@media screen and (max-width: 1920px) {
    .avatar-icon {
        height: 50px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .avatar-icon {
        height: 35px;
        font-size: 0.75rem;
    }
}