# Connection Strings
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=jm-db;Username=jm-db;Password=jm-db-password
ConnectionStrings__SurrealDb=Server=http://localhost:8000;Namespace=jm-ministry;Database=production;Username=root;Password=root

# JWT Settings
JwtSettings__Key=your_very_secret_key_here_must_be_long_enough
JwtSettings__Issuer=JMMinistry
JwtSettings__Audience=JMMinistry
JwtSettings__DurationInMinutes=1440

# Minio Settings
Minio__Endpoint=localhost:9000
Minio__AccessKey=minioadmin
Minio__SecretKey=minioadmin
Minio__BucketName=jm-ministry

# Default User (Initial Seed)
DefaultUser__Document=123456789
DefaultUser__Name=Default
DefaultUser__LastName=Admin
DefaultUser__Password=Admin123!

# OpenTelemetry
OTEL_SERVICE_NAME=JMMinistry.API
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:5341

# General (Legacy)
# UploadsPath=uploads
