.login-form-card {
    padding: 0px 1rem;
}

@media screen and (max-width: 1920px) {
    .login-form-card {
        padding: 0px 5rem;
    }
}

@media screen and (max-width: 600px) {
    .login-form-card {
        padding: 0px 1.5rem;
    }
}
