.popup-container{
    min-width: 40%;
}

.action-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

    .action-container > * {
        flex-grow: 1;
    }