[Unit]
Description=MinIO Service
After=network-online.target

[Container]
Image=minio/minio:latest
ContainerName=minio
Exec=server /data --console-address ":9001"
PublishPort=9005:9000
PublishPort=9006:9001
EnvironmentFile=%h/.config/thevinehub.env
Volume=minio-data.volume:/data
Network=jm-db.network

[Install]
WantedBy=default.target
