[Unit]
Description=SurrealDB Service
After=network-online.target

[Container]
Image=surrealdb/surrealdb:latest
ContainerName=surrealdb
Exec=start --user root --pass root --bind 0.0.0.0:8000 file://mydata
PublishPort=8000:8000
Volume=surrealdb-data.volume:/mydata
Network=jm-db.network
HealthCmd=/surreal is-ready
HealthInterval=5s
HealthTimeout=5s
HealthRetries=5

[Install]
WantedBy=default.target
