[Unit]
Description=TheVineHub API
Requires=surrealdb.service
After=surrealdb.service

[Container]
Image=localhost/thevinehub-api:latest
ContainerName=thevinehub-api
EnvironmentFile=%h/.config/thevinehub.env
Environment=ASPNETCORE_HTTP_PORTS=8080
Environment=OTEL_SERVICE_NAME=thevinehub-api
Environment=OTEL_EXPORTER_OTLP_ENDPOINT=http://seq:5341
PublishPort=62421:8080
Network=jm-backend.network
Network=jm-db.network
Network=jm-frontend.network

[Install]
WantedBy=default.target
