.user-info-card{
    display: flex;
}

.user-info {
    flex-grow: 1;
    max-width: 100%;
}

div.grid-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.grid-details > .grid-item {
    display: flex;
    justify-content: flex-start;
}


@media screen and (max-width: 1920px) {
    .user-info-card {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .user-info-card {
        flex-direction: column;
        align-items: center;
    }
}